
<h1>welcome to
  <img src="/assets/book-solid.jpg" class="image1" width="35px" height="40px">
  <strong>Bookers !!</strong>
</h1>
<div class="context">
  <p>In
  <img src="/assets/book-solid.jpg" class="image2" width="15px" height="17px">
  <strong>Bookers !!</strong>
  </p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
</div>

<div class="Button">
  <%= button_to "Log in" %>
  <%= button_to "Sign up"  %>
</div>

<div class="footer">
  <p>CopyRight Infratop.inc</p>
</div>

